/*******Start of Font Styles*******/
@font-face {
    font-family: "Main_Font";
    src: url("../fonts/OpenSans-Bold.ttf")
    ,url("../fonts/OpenSans-Bold.eot")
    ,url("../fonts/OpenSans-Bold.svg")
    ,url("../fonts/OpenSans-Bold.woff")
    ,url("../fonts/OpenSans-Bold.woff2");
}
@font-face {
    font-family: "Main_Font1";
    src: url("../fonts/OpenSans-ExtraBold.ttf")
    ,url("../fonts/OpenSans-ExtraBold.eot")
    ,url("../fonts/OpenSans-ExtraBold.svg")
    ,url("../fonts/OpenSans-ExtraBold.woff")
    ,url("../fonts/OpenSans-ExtraBold.woff2");
}
@font-face {
    font-family: "Main_Font2";
    src: url("../fonts/OpenSans-SemiBold.ttf")
    ,url("../fonts/OpenSans-SemiBold.eot")
    ,url("../fonts/OpenSans-SemiBold.svg")
    ,url("../fonts/OpenSans-SemiBold.woff")
    ,url("../fonts/OpenSans-SemiBold.woff2");
}
/*@font-face {
    font-family: "Main_Font3";
    src: url("../fonts/OpenSans-ExtraLight.ttf")
    ,url("../fonts/OpenSans-ExtraLight.eot")
    ,url("../fonts/OpenSans-ExtraLight.svg")
    ,url("../fonts/OpenSans-ExtraLight.woff")
    ,url("../fonts/OpenSans-ExtraLight.woff2");
}*/
@font-face {
    font-family: "Main_Font4";
    src: url("../fonts/OpenSans-Light.ttf")
    ,url("../fonts/OpenSans-Light.eot")
    ,url("../fonts/OpenSans-Light.svg")
    ,url("../fonts/OpenSans-Light.woff")
    ,url("../fonts/OpenSans-Light.woff2");
}
@font-face {
    font-family: "Main_Font5";
    src: url("../fonts/OpenSans-Medium.ttf")
    ,url("../fonts/OpenSans-Medium.eot")
    ,url("../fonts/OpenSans-Medium.svg")
    ,url("../fonts/OpenSans-Medium.woff")
    ,url("../fonts/OpenSans-Medium.woff2");
}
@font-face {
    font-family: "Main_Font6";
    src: url("../fonts/OpenSans-Regular.ttf")
    ,url("../fonts/OpenSans-Regular.eot")
    ,url("../fonts/OpenSans-Regular.svg")
    ,url("../fonts/OpenSans-Regular.woff")
    ,url("../fonts/OpenSans-Regular.woff2");
}
/*******End of Font Styles*******/

/*******Start of Variables*******/
:root {
    --MainColor: #19c8fa;
    --MainFontColor: white;
    --TextFontColor: #777;
    --TextBackgroungColor: rgb(15 116 143 / 70%);
    --Padding: 100px 0;
    --UnderlineColor: #333;
}
/*******End of Variables*******/
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

/*******Start of Framework*******/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.Header-Section {
    text-align: center;
}
.Header-Section h3 {
    margin-top: 0;
    margin-bottom: 70px;
    font-family: Main_Font4, sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
    position: relative;
}
.Header-Section h3::after {
    content: "";
    position: absolute;
    width: 120px;
    border-bottom: 2px solid var(--UnderlineColor);
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.Header-Section h3::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    z-index: 1;
    border: 2px solid var(--UnderlineColor);
    border-radius: 50%;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.Header-Section p {
    width: 550px;
    margin: 0 auto 100px;
    font-family: Main_Font6, sans-serif;
    line-height: 2;
    color: var(--TextFontColor);
}
/*******End of Framework*******/

/*******Start of Header Styles*******/
header {
    min-height: 100vh;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
}
header .parent {
    min-height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .parent::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    border-bottom: 1px solid #a2a2a2;
    bottom: 0;
}
header .parent .logo img {
    height: 40px;
}
header .parent .Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .parent .Menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Main_Font6, sans-serif;
    font-size: 14px;
    position: relative;
}
header .parent .Menu nav::after{
    content: "";
    height: 30px;
    position: absolute;
    border-right: 1px solid var(--MainFontColor);
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}
header .parent .Menu nav li {
    padding: 40px 10px;
    list-style: none;
    border-bottom: 1px solid transparent;
    z-index: 1;
}
header .parent nav li a{
    color: var(--MainFontColor);
    text-decoration: none;
}
header .parent nav li:hover {
    border-color: var(--MainColor);
    cursor: pointer;
}
header .parent nav li:hover > a {
    color: var(--MainColor);
}
header .parent .Menu i {
    font-size: 20px;
    color: var(--MainFontColor);
    margin-left: 50px;
}
header .text {
    width: 50%;
    background-color: var(--TextBackgroungColor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    color: var(--MainFontColor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .text::before{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
header .text::after{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 26px;
    position: absolute;
    top: 50%;
    right: calc(-100% + 30px);
    transform: translateY(-50%);
}
header .text .content {
    max-width: 500px;
}
header .text .content h2 {
    font-family: Main_Font4, sans-serif;
    font-size: 32px;
    margin: 0 0 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
header .text .content p {
    font-family: Main_Font6, sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 2;
}
header .circles {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
header .circles span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
header .circles span:first-of-type,
header .circles span:last-of-type {
    background-color: transparent;
    border: 1px solid var(--MainFontColor);
}
header .circles span:nth-of-type(2) {
    background-color: var(--MainColor);
}
/*******End of Header Styles*******/

/*******Start of Sections Styles*******/

/*******Start of Services Section Style*******/
.Services-Section {
    padding: var(--Padding);
}
.Services-Section .Services .services-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
.Services-Section .Services .services-items > section {
    display: flex;
    gap: 50px;
}
.Services-Section .Services .services-items > section i {
    font-size: 50px;
}
.Services-Section .Services .services-items > section > section h3 {
    margin: 0 0 30px 0;
    font-family: Main_Font, sans-serif;
    color: var(--MainColor);
}
.Services-Section .Services .services-items > section > section p {
    margin: 0;
    font-family: Main_Font6, sans-serif;
    color: var(--TextFontColor);
    line-height: 2;
}
/*******End of Services Section Style*******/

/*******Start of Design Features Section Style*******/
.Design-Features {
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    height: 600px;
    position: relative;
    padding: var(--Padding);
    display: flex;
    align-items: center;
    overflow: hidden;
}
.Design-Features::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
}
.Design-Features .Design-Features-image {
    text-align: center;
    position: relative;
    flex: 1;
    z-index: 1;
}
.Design-Features .Design-Features-image img {
    position: relative;
    bottom: -150px;
}
.Design-Features .text {
    width: 50%;
    background-color: var(--TextBackgroungColor);
    padding: 50px;
    color: var(--MainFontColor);
    position: relative;
    right: 0;
    flex: 1;
    z-index: 1;
}
.Design-Features .text h2 {
    margin: 0 0 40px 0;
    font-family: Main_Font6,sans-serif;
}
.Design-Features .text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Design-Features .text ul li {
    padding: 15px 0;
    font-family: Main_Font6, sans-serif;
}
.Design-Features .text ul li::before {
    content: "\e163";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/*******End of Design Features Section Style*******/

/*******Start of Portfolio Section Style*******/
.Portfolio-Section {
    padding: var(--Padding);
    position: relative;
}
.Portfolio-Section .Portfolio nav {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: Main_Font6,sans-serif;
}
.Portfolio-Section .Portfolio nav li {
    padding: 10px;
}
.Portfolio-Section .Portfolio nav .active {
    background-color: var(--MainColor);
    color: var(--MainFontColor);
}
.Portfolio-Section .Portfolio nav li:active {
    background-color: var(--MainColor);
    color: var(--MainFontColor);
}
.Portfolio-Section .Album {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.Portfolio-Section .Album .album-img {
    position: relative;
    overflow: hidden;
    margin: 0;
}
@media (min-width: 768px) {
    .Portfolio-Section .Album .album-img {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .Portfolio-Section .Album .album-img {
        flex-basis: 25%;
    }
}
.Portfolio-Section .Album .album-img img{
    max-width: 100%;
    transition: all 0.3s;
}
.Portfolio-Section .Album .album-img:hover > img {
    transform: scale(1.1) rotate(3deg);
}
.Portfolio-Section .Album .album-img figcaption{
    padding: 20px;
    width: 100%;
    position: absolute;
    background-color: var(--MainFontColor);
    bottom: -100px;
    transition: all 0.3s;
}
.Portfolio-Section .Album .album-img:hover > figcaption {
    transform: translateY(-100px);
}
.Portfolio-Section .Album .album-img figcaption h4{
    margin: 0 0 10px 0;
    font-family: Main_Font4, sans-serif;
}
.Portfolio-Section .Album .album-img figcaption p{
    margin: 0;
    font-family: Main_Font6, sans-serif;
    color: var(--MainColor);
}
.Portfolio-Section button {
    margin: 30px auto;
    padding: 15px 20px;
    border: 0;
    background-color: var(--MainColor);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.Portfolio-Section button a {
    text-decoration: none;
    color: var(--MainFontColor);
    font-family: Main_Font6, sans-serif;
}
/*******End of Portfolio Section Style*******/